/* Small devices */
@media only screen and (max-width: 767px) {

	.navbar-default{
		background-color: #fff !important;
		border-color: #e6e6e6;
	}

	.about-iphone{
		width: 100%;
	}

	.purchase-now .col-md-3{

		text-align: center;
		padding-top: 50px;

	}

}

/* Small devices and tablets */
@media only screen and (max-width: 768px) {

	.header-iphone{

		display:none; 

	}

	.header-text, .header-btns{

		text-align: center;

	}

}


/* Medium devices, desktop */
@media only screen and (max-width: 992px) {




}

/* Medium devices, desktop */
@media only screen and (max-width: 1200px) {




}

